* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.App-logo {
  width: 5rem;
}

.container {
  width: 100vw;
  height: 100vh;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 50px;
}

.menu {
  display: flex;
  list-style: none;
  align-items: center;
}

li {
  margin-right: 30px;
}

nav a {
  text-decoration: none;
}

.icon {
  margin-right: 20px;
}