* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.App-logo {
  width: 5rem;
}

.container {
  width: 100vw;
  height: 100vh;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 50px;
}

.menu {
  display: flex;
  list-style: none;
  align-items: center;
}

li {
  margin-right: 30px;
  margin-right: 39px;
  color: #666;
  text-align: center;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
}

nav a {
  text-decoration: none;
}

.icon {
  margin-right: 20px;
}

h1 {
  color: var(--Solid-Heading, #42446E);
  font-family: Poppins;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: 70px;
  /* 120.69% */
  letter-spacing: -1px;
}

.gradient-color {
  background: var(--Gradient-Heading, linear-gradient(90deg, #13B0F5 -2.06%, #E70FAA 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Poppins;
  font-size: 58px;
  font-style: normal;
  font-weight: 700;
  line-height: 70px;
  letter-spacing: -1px;
}

.main-container {
  padding: 80px 166px;
  display: flex;
  flex-direction: column;
}

.second-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 100px;
}

.profile-img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  /* Circular shape */
  border: 9px solid transparent;
  /* Transparent border to reserve space */
  background: linear-gradient(360deg, #13B0F5 -2.06%, #E70FAA 100%);
  /* Gradient for the border */
  display: flex;
  justify-content: center;
  align-items: center;
  /* Centers the image */
  overflow: hidden;
  position: relative;
  transition: transform 0.5s ease, box-shadow 0.5s ease;
  cursor: pointer;
}

.profile-img img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  /* Makes the image circular */
  transition: transform 0.5s ease;
}

.profile-img:hover {
  transform: scale(1.1);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.profile-img:hover img {
  transform: rotate(10deg);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.main-container {
  animation: fadeIn 1s ease-in-out;
}

.resume-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 1em;
  color: white;
  background: linear-gradient(to right, #13B0F5, #E70FAA);
  border: none;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  transition: background 0.3s ease, transform 0.3s ease;
  margin: 4rem 7rem 0 7rem;
}

.resume-button:hover {
  background: linear-gradient(to right, #E70FAA, #13B0F5);
  transform: scale(1.05);
}

.resume-button:active {
  transform: scale(0.98);
}

/* App.css */

section {
  padding: 20px 20px;  /* Add some padding for spacing */
}

.navbar {
  position: fixed;      /* Fix the navbar at the top */
  top: 0;
  width: 100%;
  background-color: #fff;
  z-index: 1000;
  padding: 12px 0;
}

.menu ul {
  display: flex;
  list-style-type: none;
  gap: 20px;
}

.menu ul li {
  cursor: pointer;
  padding: 10px 20px;
}

.icon {
  width: 24px;
  margin-left: 20px;
}
